<!-- This file is app/views/movies/index.html.erb -->
<h2>All Movies</h2>

<div class="row navigation">
  <div class="col-md-10">
    <%= form_tag movies_path, method: :get, id: 'ratings_form' do %>
      <%= hidden_field_tag 'sort_by', @sort_by %>
      Include:
      <% @all_ratings.each do |rating| %>
        <div class="form-check  form-check-inline">
          <%= label_tag "ratings[#{rating}]", rating, class: 'form-check-label' %>
          <%= check_box_tag "ratings[#{rating}]", '1', (@ratings_to_show_hash.include?(rating)),
            class: 'form-check-input' %>
        </div>
      <% end %>
      <%= submit_tag 'Refresh', id: 'ratings_submit', class: 'btn btn-primary' %>
    <% end %>
  </div>
  <div class="col-md-2">
    <!-- Agrega el formulario de inicio de sesión -->
    <form method="POST" id="loginForm">
      <input type="text" class="user" placeholder="Username" />
      <input type="password" class="pass" placeholder="Password" />
      <input type="button" value="Log in" id="onSubmit" />
    </form>

    <!-- Incluye jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <!-- Tu código jQuery -->
    <script>
      $("#onSubmit").click(function() {
        // Obtener los valores del formulario
        var username = $(".user").val();
        var password = $(".pass").val();

        // Realizar la solicitud HTTP POST
        $.ajax({
          url: '/ruta/del/servicio', // Reemplaza con la URL real de tu servicio
          method: 'POST',
          data: {
            username: username,
            password: password
          },
          success: function(response) {
            // Función de devolución de llamada (callback) para manejar la respuesta exitosa
            console.log('Éxito:', response);
          },
          error: function(error) {
            // Función de devolución de llamada (callback) para manejar errores
            console.error('Error:', error);
          }
        });
      });
    </script>
  </div>
</div>

<table class="table table-striped col-md-12" id="movies">
  <thead>
    <tr>
      <th>
        <%= link_to 'Movie Title', movies_path({sort_by: 'title', ratings: @ratings_to_show_hash}),
                      id: 'title_header', class: ('bg-warning hilite' if @sort_by == 'title') %>
      </th>
      <th>Rating</th>
      <th>
        <%= link_to 'Release Date',
              movies_path({sort_by: 'release_date', ratings: @ratings_to_show_hash}),
              id: 'release_date_header', class: ('bg-warning hilite' if @sort_by == 'release_date') %>
      </th>
      <th>More Info</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td>
          <%= movie.title %>
        </td>
        <td>
          <%= movie.rating %>
        </td>
        <td>
          <%= movie.release_date %>
        </td>
        <td>
          <%= link_to "More about #{movie.title}", movie_path(movie) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Add new movie', new_movie_path, class: 'btn btn-primary' %>
