<!-- app/views/movies/index.html.erb -->

<style>
  table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  th {
    background-color: #ffebcd; /* Fondo crema */
  }

  .show-button {
    text-align: center;
  }
</style>

<h1>List of Movies</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Rating</th>
    <th>Description</th>
    <th>Release Date</th>
    <th>Show</th>
  </tr>
  <% @movies.each do |movie| %>
    <tr>
      <td><%= movie.title %></td>
      <td><%= movie.rating %></td>
      <td><%= movie.description %></td>
      <td><%= movie.release_date %></td>
      <td class="show-button"><%= link_to "Show This Movie", movie %></td>
    </tr>
  <% end %>
</table>

<%= link_to "New Movie", new_movie_path %>
